doctype html

html(lang="en")
	head
		title Admin BtaraWeb
		meta(name="robots" content="noindex")
		meta(Content-type="text/html" charset="UTF-8")
		meta(name="author", content="Btara Truhandarien")
		meta(name="description", content="Admin page to BtaraWeb")
		link(rel="stylesheet", type="text/css", href="/public/styles/admin/admin_login.min.css")
	body
		div.centered
			h1 ADMIN LOGIN
				form(id="admin")
					input(id="username", name="username", placeholder="Username")
					br
					input(id="password", name="password", type="password")
					br
					input(type="submit")

