extends ./base.pug

block stylesheets
	link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lobster|Kaushan+Script')
	link(rel='stylesheet', type='text/css', href='/public/styles/404.min.css')

block page_content
	div.notif404
		span.headline404 WOOPS
		p.baskerville.announcement &#x1f62f Looks like you entered an incorrect URL
