doctype html

html(lang="en")
  head
    title BtaraWeb
    meta(charset="UTF-8")
    meta(name="author", content="Btara Truhandarien")
    meta(name="description", content="Btara Truhandarien personal website")
    meta(name="keywords", content="Btara, Truhandarien, Btara Truhandarien, website, personal website, personal info")

    link(rel="stylesheet", href="/public/styles/general.css")
  body
    div#header
      div.centered#page-headline
        h1 #{headline}
      div#navigation-bar
        nav
          li
            a Home
          li
            a Projects
          li
            a About Me
    div#page-container
      div.centered#page-content
        article
          p.message.
            I am Btara Truhandarien and welcome to my site. Currently the site is under progress.
            Latest updates to the site (up to 1 month old) will be posted here. Future plans for
            the site will also be updated here.

