* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.flex {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

#header {
    font-size: 1rem;
    background-color: rgb(206,242,240);
    height: 12em;
    -webkit-flex-direction: column;
    -ms-flex-direction: column
    flex-direction: column;
    position: relative;
}

.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 65%;
    font-size: 0.9rem;
    padding: 0.5em 0;
}

#logo-quote-container {
    position: relative;
    justify-content: space-between;
    height: 4em;
    font-size: 2em;
}

#logo, #quotes {
    display: inline-block;
    padding-top: 1em;
}

#logo {
    font-size: 0.8em;
    padding-left: 1em;
}

#image-logo {
    border-radius: 25px;
    vertical-align: middle;
    border: thin groove rgb(240,240,240)
}

#big-text-logo {
    position: relative;
    vertical-align: middle;
    padding-left: 0.3em;
    color: rgb(62,179,144);
}

#small-text-logo {
    display: none;
}

#logo:hover #small-text-logo {
    display: inline;
    vertical-align: bottom;
}

#logo:hover #big-text-logo, #logo:hover #big-text-logo:after {
    text-shadow: 0 0 1em white;
}

#logo:hover #big-text-logo:after {
    width: 200px;
    content: "Btara Truhandarien's Website";
    position: absolute;
    top: 2.5em;
    left: 0.5em;
    font-size: 0.5em;
    color: rgb(21, 176, 104);
}

#logo:hover #image-logo {
    -webkit-box-shadow: 0px 0 0.3em rgb(90,92,91);
    -moz-box-shadow: 0px 0 0.3em rgb(90,92,91);
    box-shadow: 0px 0 0.3em rgb(90,92,91);
}

#logo:hover #big-text-logo {
    vertical-align: top;
}

.centurygothic {
    font-family: "Century Gothic", "CenturyGothic", AppleGothic, sans-serif;
}

.baskerville {
    font-family: "Baskerville", "Baskerville Old Face", "Hoefler Text", "Garamond", "Times New Roman", serif;
}

#quotes {
    font-size: 0.75em;
    position: relative;
    width: 50%;
    margin-right: 25%;
    font-weight: bold;
    color: rgb(166, 137, 80);
    text-align: center;
    vertical-align: middle;
}

#navigation-bar {
    letter-spacing: 2px;
    width: 60%;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    left: 20%;
    color: rgb(102, 105, 103);
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    width: 140px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
    transition: .3s background-color;
    color: inherit;
}

nav li:hover {
    font-weight: bold
}

nav > ul > li:hover {
    color: rgb(72,123,140);
}

nav > ul > li > ul > li:hover {
    color: rgb(252,252,252);
}

nav li ul {
    font-size: 0.8em;
    background-color: rgb(148, 161, 160);
    color: rgb(197, 198, 222);
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
    display: block;
}

nav li ul li {
    display: block;
}

nav > ul > li > ul > li > a:hover {
    background-color: rgb(113,126,138); 
}

#content-background {
    display: block;
    padding: 3% 0 3%;
    background-color: rgb(24,40,57);
}

#content-container {
    background-color: rgba(83,86,90,0.3);
    background-size: cover;
}

q {
    quotes: "\0201C" "\0201D";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

#footer-container {
    padding: 0.5em 0 0;
    font-size: 1rem;
    background-color: rgb(217,217,219);
}

#socmed-links {
    justify-content: center;
    font-size: 2em;
    top: 0.25em;
}

#socmed-links a {
    text-decoration: none;
}

.sidespread {
    margin: 0 20px;
}

#copyright {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.8;
}

.fa-facebook-square {
    color: rgb(46,25,189);
}

.fa-linkedin-square {
    color: rgb(60,32,245);
}
