#header {
    width:100%;
    height: 25vh;
    background-size: cover;
    background-color: rgb(29, 205, 117);
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#page-headline {
    text-align: center;
    margin-top: 50px;
    font-family: 'Arvo', Georgia, Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#navigation-section {
    height:25%;
    text-align:center;
}

#logo p {
    width:20%;
    float: left;
}

#navigation-bar {
    width: 80%;
    float:right;
    margin-top:18px;
}

nav li {
    width:33%;
    display:inline-block;
}

#page-container {
    width: 100%;
    background-color: rgb(24,40,57);
    height: 100vh;
    position: fixed;
    background-size:cover;
    top: 0;
    left: 0;
}

#page-content.centered {
    margin-top: 27vh;
    background-color: rgba(83,86,90,0.5);
    opacity: 0.5;
}

.message {
    color: rgb(224,229,234);
}
