#after-headline {
    padding-top: 1.5em;
}

.subtitle {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(156,188,214);
    font-size: 1.6em;
}

.message {
    position: relative;
    top: -0.7em;
    left: 0.5em;
    color: rgb(224,229,234);
    font-size: 1.15em;
    line-height: 1.3em;
}
