h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.05em 0.05em 0.1em rgb(214,214,214);
    font-size: 3em;
    border-style: none none solid none;
    border-width: 0.05em;
    border-color: rgb(212,207,188);
    color: rgb(16,16,48);
    letter-spacing: 2px;
    padding-bottom: 0.25em;
}

#after-headline {
    padding-top: 1.5em;
}

.subtitle {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(156,188,214);
    font-size: 1.6em;
}

.message {
    position: relative;
    top: -0.7em;
    left: 0.5em;
    color: rgb(224,229,234);
    font-size: 1.15em;
    line-height: 1.3em;
}
